$primary-background: #282c34;
$primary-foreground: #ffffff;
$error-foreground: #ff0000;
$button-hover-color: #00ccff;

$common-font-size: calc(10px + 2vmin);
$button-font-size: calc(7px + 2vmin);
$description-font-size: calc(7px + 2vmin);
$medium-description-font-size: calc(5px + 2vmin);
$smaller-description-font-size: calc(4px + 2vmin);

%basic-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid $primary-foreground;
  font-size: $description-font-size;
  border-radius: 8px;
  padding: 15px;
  margin: 100px 10px 10px 10px;
}

%basic-button {
  min-width: 200px;
  background-color: black;
  color: $primary-foreground;
  border: 2px solid $primary-foreground;
  border-radius: 5px;
  font-size: $button-font-size;
  margin: 10px;
  padding: 10px;
  &:hover {
    color: $button-hover-color;
  }
}

%basic-button-active {
  @extend %basic-button;
  background-color: $primary-foreground;
  color: black;
  border: 2px solid black;
  font-size: $button-font-size;
  &:hover {
    color: black;
  }
}

%basic-input-field {
  display: flex;
  font-size: calc(5px + 2vmin);
  background-color: white;
  color: black;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}

%basic-button-disabled {
  @extend %basic-button;
  background-color: gray;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: $button-font-size;
  margin: 10px;
  padding: 10px;
}
